.weather{
    margin-top: 20px;
    place-self: center;
    width: 100vh;
    height: 70vh;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(20deg, #fdfdfd, #1b4d66);
}

.search{
    position: relative;
    width:85%; 
    height: 2.5rem;
    margin-left: 8%;
}
.search-bar {
    position: absolute;
    width:100%;
    height: 2.5rem;
    border-radius: 2rem;
    padding: 1rem;
}

input:focus {
    outline: none;
    border: none;

}

.fa-search {
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 25px;
    color: rgba(180, 180, 180, 0.819);
}

.fa-search:hover{
    color:rgb(227, 219, 219) !important;
 }


.result{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 90vh;
    margin-top: 2rem;


}

.left{
    border: 1px solid black;
    position: relative;
    width: 40vh;
    height: 46vh;
    border-radius: 9%;
    padding: 1rem;
    background-image: url("../img/left-bg.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3); /* black overlay at 50% opacity */
    background-blend-mode: multiply;
    color: white;
    
}

.left img{
    margin-top: 3rem;
    width: 80px;
    margin-bottom: 0;
    position: absolute;
}

.temp{
    margin-top: 7.5rem;
    font-weight: bold;
    font-size: 40px;
}

.right{
    border: 1px solid black;
    background-color: #333346;
    width: 35vh;
    height: 40vh;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    padding: 1rem;  
    color: #fdfdfd;
    display: flex;
}

ul{
    list-style-type: none;
}

.title{
    float: left;
    font-weight: 500;

}

.data{
    float: right;
    text-align: right;
    padding-left: 2rem;
}

.right p{
    font-weight: 500;
}

button {
    width: 5rem;
}